.typewriter h1 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
  font-weight: 80;
}

.cursor {
  display: inline-block;
  animation: blink-caret 0.75s step-end infinite;
  color: white;
  margin-left: 2px;
}

@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
